.dashboard
  display: inline-block
  margin: 0 auto
  padding: 20px 60px
  .panel-default
    background-color: black
    box-shadow: 0 0 4px 4px #888
    .panel-heading
      text-align: center
      background-color: steelblue
      color: white
    .panel-body
      background-color: #00BFA5
      text-align: center
      .md-spinner
        background-color: #555555
        border-radius: 50%
      .percent
        position: absolute
        left: 52%
        margin-left: -25px
        top: 54%
        font-size: 18px
        z-index: 1
        color: white
    .subject
      text-align: center
      padding: 20px
      color: white
      font-size: 22px

