@import './variables'
h2
  font-family: $primaryFont
  text-align: center
  background-color: $primaryColor
  margin: 0
  color: white
.actions
  display: block
  position: absolute
  right: 3%
  bottom: -5%
.no-work
  text-align: center
  font-family: $bowlby
  img
    height: 300px
    width: 500px
    border-radius: 5px
    box-shadow: 0 0 0 1px #999
.md-tabs
  font-family: $bowlby
.existing
  .card
    max-height: 350px
    max-width: 500px
    margin: 0 auto
    padding: 10px
    margin-top: 10px
    background-color: #00BFA5
    color: white
    border-radius: 2px
    box-sizing: border-box
    box-shadow: 0 0 0 1px #999
    font-family: $bowlby
    .card-header
      text-align: center
      padding: 5px
      font-size: 2em

.non-existing
  .card
    max-height: 350px
    max-width: 500px
    margin: 0 auto
    padding: 10px
    margin-top: 10px
    background-color: #00BFA5
    color: white
    border-radius: 2px
    box-sizing: border-box
    box-shadow: 0 0 0 1px #999
    font-family: $bowlby
    .card-header
      text-align: center
      padding: 5px
      font-size: 2em
    .card-actions
      text-align: center
      .md-button
        background-color: #00796B
        color: white
